@model Capstone.Models.ViewModels.PlaylistArtistViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Playlist.PlaylistName</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Playlist.Listener.ScreenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Playlist.Listener.ScreenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Playlist.PlaylistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Playlist.PlaylistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Playlist.PlaylistMood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Playlist.Mood.MoodName)
        </dd>
    </dl>
</div>
<div>
    <h3>Playlist Tracks</h3>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Track Title</th>
                <th scope="col">Artist</th>
                <th scope="col">Album</th>
                <th scope="col">Track Details</th>
                <th scope="col">Track Preview</th>
            </tr>
        </thead>
        <tbody>
            @{
                var tracks = Model.Playlist.PlaylistTracks.OrderBy(t => t.TrackName).ToList();
                for (int i = 0; i < tracks.Count; i++)
                {
                    var track = tracks[i];
                    <tr>
                        <td><a target="_blank" rel="noopener nofollow noreferrer" href="@Html.DisplayFor(item => track.TrackSpotifyUrl)">@Html.DisplayFor(item => track.TrackName)</a></td>
                        <td>@Html.DisplayFor(item => track.Artist.ArtistName)</td>
                        <td>@Html.DisplayFor(item => track.Album.AlbumName)</td>
                        <td>@Html.ActionLink("Details", "Details", "Tracks", new { id = track.TrackId }, null)</td>
                        <td>
                            <audio controls>
                                <source src="@track.TrackPreviewUrl" type="audio/ogg">
                            </audio>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Playlist.PlaylistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
